.srchDiv {
    background-color: aqua;
    width: 50%;
    margin: 0px auto;
    padding: 10px;
    border-bottom: 3px solid black;
}

.srchResDivClass {
    background-color: aqua;
    width: 50%;
    margin: 0px auto;
    padding: 10px;
    text-align: center;
    border-bottom: 3px solid black;
}

.insideResEl {
    width: 250px;
    margin: 0px auto;
    text-align: center;
}

.line {
    border-bottom: 3px solid black;
    border-top: 0px;
}